extends ./chrome

block content
  style.
    * {
      box-sizing: border-box;
    }

    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #F5F7FA;
    }
    .kibanaWelcomeView {
      background-color: #F5F7FA;
    }

    .kibanaWelcomeTitle {
      color: #000;
      font-size: 20px;
      font-family: Sans-serif;
      margin-top: 20px;
      animation: fadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 1.0s;
    }

    .kibanaWelcomeText {
      font-size: 14px;
      font-family: Sans-serif;
      color: #343741;
      animation: fadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 1.0s;
    }

    .kibanaLoaderWrap {
      height: 128px;
      width: 128px;
      position: relative;
      margin-top: 40px;
    }

    .kibanaLoaderWrap + * {
      margin-top: 24px;
    }

    .kibanaLoader {
      height: 128px;
      width: 128px;
      margin: 0 auto;
      position: relative;
      border: 2px solid transparent;
      border-top: 2px solid #017D73;
      border-radius: 100%;
      display: block;
      opacity: 0;
      animation: rotation .75s .5s infinite linear, fadeIn 1s .5s ease-in-out forwards;
    }

    .kibanaWelcomeLogoCircle {
      position: absolute;
      left: 4px;
      top: 4px;
      width: 120px;
      height: 120px;
      padding: 20px;
      background-color: #FFF;
      border-radius: 50%;
      animation: bounceIn .5s ease-in-out;
    }

    .kibanaWelcomeLogo {
      background-image: url('data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21--%20Created%20with%20Inkscape%20%28http%3A//www.inkscape.org/%29%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%0A%20%20%20width%3D%22166.20804%22%0A%20%20%20height%3D%22151.42192%22%0A%20%20%20viewBox%3D%220%200%20166.20804%20151.42192%22%0A%20%20%20id%3D%22svg13885%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20inkscape%3Aversion%3D%220.91%20r13725%22%0A%20%20%20sodipodi%3Adocname%3D%22grimoirelab-logo-w-big.svg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs13887%22%20/%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22base%22%0A%20%20%20%20%20pagecolor%3D%22%23000000%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Azoom%3D%2211.524755%22%0A%20%20%20%20%20inkscape%3Acx%3D%2293.75751%22%0A%20%20%20%20%20inkscape%3Acy%3D%2238.287691%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22px%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22g14539%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20units%3D%22px%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%223200%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221671%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2255%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%0A%20%20%20%20%20fit-margin-top%3D%220%22%0A%20%20%20%20%20fit-margin-left%3D%220%22%0A%20%20%20%20%20fit-margin-right%3D%220%22%0A%20%20%20%20%20fit-margin-bottom%3D%220%22%20/%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata13890%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3E%3C/dc%3Atitle%3E%0A%20%20%20%20%20%20%3C/cc%3AWork%3E%0A%20%20%20%20%3C/rdf%3ARDF%3E%0A%20%20%3C/metadata%3E%0A%20%20%3Cg%0A%20%20%20%20%20inkscape%3Alabel%3D%22Capa%201%22%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer1%22%0A%20%20%20%20%20transform%3D%22translate%28-2.6190637%2C-1004.9434%29%22%3E%0A%20%20%20%20%3Cg%0A%20%20%20%20%20%20%20id%3D%22g14539%22%0A%20%20%20%20%20%20%20transform%3D%22matrix%280.22887389%2C0%2C0%2C0.22887389%2C-60.771454%2C797.07484%29%22%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12526%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20704.88836%2C1178.5359%20c%200%2C0%20218.20068%2C-45.085%20293.53508%2C74.0194%2022.78266%2C27.0206%20-41.00415%2C158.6063%20-95.67636%2C176.8221%20-11.71547%2C38.7722%20-70.92548%2C148.1625%20-111.297%2C138.057%200%2C0%20-35.09174%2C-4.6315%20-35.79467%2C-126.8906%200%2C0%2023.93471%2C167.2525%2057.92911%2C77.5443%2044.02284%2C-116.1931%2036.30625%2C-301.1185%20-29.28868%2C-323.1058%200%2C0%2022.12662%2C-10.5742%2065.73161%2C0%200%2C0%2068.34807%2C43.474%2059.23343%2C205.6121%200%2C0%2029.04656%2C-103.2432%20-32.7877%2C-201.9393%200%2C0%2028.23038%2C2.7916%2051.01307%2C12.7772%20-0.004%2C0%20-65.08726%2C-53.4598%20-222.59789%2C-32.8964%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12528%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20575.24489%2C1180.2665%20c%200%2C0%20-218.20068%2C-45.0885%20-293.53508%2C74.0194%20-22.78269%2C27.0207%2041.00416%2C158.6098%2095.67636%2C176.8186%2011.71548%2C38.7722%2070.92548%2C148.1696%20111.297%2C138.0571%200%2C0%2035.09565%2C-4.628%2035.79467%2C-126.8907%200%2C0%20-23.93471%2C167.2595%20-57.9291%2C77.5443%20-44.02285%2C-116.186%20-36.30626%2C-301.1184%2029.28868%2C-323.1022%200%2C0%20-22.12663%2C-10.5743%20-65.73162%2C0%200%2C0%20-68.34807%2C43.474%20-59.23343%2C205.6085%200%2C0%20-29.04656%2C-103.2432%2032.78771%2C-201.9358%200%2C0%20-28.23039%2C2.7916%20-51.01308%2C12.7772%200.004%2C0%2065.08726%2C-53.4597%20222.59789%2C-32.8964%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12530%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20700.77232%2C1082.8251%20c%202.51883%2C21.4163%2022.83736%2C32.6849%2022.83736%2C32.6849%20-20.11156%2C34.264%20-81.27808%2C38.1729%20-81.27808%2C38.1729%200%2C0%20-59.73329%2C-4.2543%20-80.62589%2C-38.1306%200%2C0%2020.04518%2C-11.6458%2022.07195%2C-33.1079%200%2C0%20-123.09057%2C-6.1895%20-224.88631%2C98.8936%200%2C0%20106.48193%2C-43.2344%20284.14318%2C-2.6576%20176.70452%2C-43.8866%20284.85005%2C-1.1914%20284.85005%2C-1.1914%20-104.20132%2C-103.1621%20-227.11226%2C-94.6639%20-227.11226%2C-94.6639%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3A%23ffbc26%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12532%22%0A%20%20%20%20%20%20%20%20%20d%3D%22M%20370.74251%2C977.25724%22%0A%20%20%20%20%20%20%20%20%20stroke-miterlimit%3D%2210%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%2300000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12534%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20592.61504%2C1076.1739%20c%200%2C0%206.83012%2C-82.5424%2044.58518%2C-161.55299%200%2C0%206.50599%2C-14.395%2012.36373%2C0%205.85774%2C14.38799%2033.20169%2C85.77109%2044.58913%2C161.55299%20-0.004%2C0%20-49.75565%2C21.1096%20-101.53804%2C0%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12536%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20637.37986%2C1229.6446%20c%20-6.47866%2C-63.2656%20-86.56563%2C-26.7387%20-101.12797%2C-24.5287%20-29.29258%2C4.4412%20-41.08616%2C2.203%20-41.08616%2C2.203%20-12.36763%2C12.3366%20-17.24518%2C22.3257%20-17.24518%2C22.3257%200%2C0%20130.00661%2C-17.1091%20159.45931%2C0%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12538%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20645.53773%2C1229.6446%20c%206.48256%2C-63.2656%2086.57348%2C-26.7387%20101.12801%2C-24.5287%2029.28868%2C4.4412%2041.08616%2C2.203%2041.08616%2C2.203%2012.36373%2C12.3366%2017.24518%2C22.3257%2017.24518%2C22.3257%200%2C0%20-129.9988%2C-17.1091%20-159.45935%2C0%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3A%23ffbc26%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12540%22%0A%20%20%20%20%20%20%20%20%20d%3D%22M%20311.96651%2C1043.4752%22%0A%20%20%20%20%20%20%20%20%20stroke-miterlimit%3D%2210%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20style%3D%22color%3A%23000000%3Bclip-rule%3Anonzero%3Bdisplay%3Ainline%3Boverflow%3Avisible%3Bvisibility%3Avisible%3Bopacity%3A1%3Bisolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bcolor-interpolation%3AsRGB%3Bcolor-interpolation-filters%3AlinearRGB%3Bsolid-color%3A%23000000%3Bsolid-opacity%3A1%3Bfill%3A%23000000%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke-width%3A1%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-dashoffset%3A0%3Bstroke-opacity%3A1%3Bcolor-rendering%3Aauto%3Bimage-rendering%3Aauto%3Bshape-rendering%3Aauto%3Btext-rendering%3Aauto%3Benable-background%3Aaccumulate%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path12542%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%20670.6948%2C1229.6446%20c%200%2C0%20-7.97047%2C5.8192%20-29.08566%2C5.9496%20-21.11518%2C-0.1233%20-29.08561%2C-5.9496%20-29.08561%2C-5.9496%20-72.89758%2C-5.3682%20-149.57535%2C5.6712%20-149.57535%2C5.6712%20l%2038.92661%2C189.8883%20c%2032.21755%2C17.6237%20108.36813%2C21.1344%20108.36813%2C21.1344%209.21617%2C11.2827%2053.51628%2C11.2827%2062.72858%2C0%200%2C0%2076.15058%2C-3.5107%20108.36813%2C-21.1344%20l%2035.02536%2C-189.8883%20c%20-0.004%2C0%20-72.76871%2C-11.0429%20-145.67019%2C-5.6712%20z%20m%20-168.53103%2C89.6129%2074.6549%2C-74.2416%202.86248%2C38.187%20-15.32384%2C0.1445%20-0.10934%2C-6.3551%20-42.98017%2C44.1298%2046.30346%2C54.8132%20-1.18326%2C-49.1384%20-15.85885%2C-0.9905%200.29679%2C-13.0803%2029.19887%2C1.6461%202.8%2C105.2135%20-80.66104%2C-100.3282%20z%20m%20195.44928%2C100.3176%202.8%2C-105.2135%2029.19886%2C-1.639%200.29679%2C13.0803%20-15.85884%2C0.9905%20-1.19107%2C49.1313%2046.30345%2C-54.8062%20-42.98017%2C-44.1297%20-0.10543%2C6.3551%20-15.32384%2C-0.1445%202.85857%2C-38.1906%2074.6549%2C74.2416%20-80.65322%2C100.3247%20z%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E');
      background-repeat: no-repeat;
      background-size: contain;
      width: 60px;
      height: 60px;
      margin: 10px 0px 10px 10px;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: scale(.1);
      }
      80% {
        opacity: .5;
        transform: scale(1.2);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

  .kibanaWelcomeView(id="kbn_loading_message", style="display: none;")
    .kibanaLoaderWrap
      .kibanaLoader
      .kibanaWelcomeLogoCircle
        .kibanaWelcomeLogo
    .kibanaWelcomeText(data-error-message=i18n('common.ui.welcomeErrorMessage', { defaultMessage: 'Kibana did not load properly. Check the server output for more information.' }))
      | #{i18n('common.ui.welcomeMessage', { defaultMessage: 'Loading Kibiter' })}

  .kibanaWelcomeView(id="kbn_legacy_browser_error", style="display: none;")
    .kibanaLoaderWrap
      .kibanaWelcomeLogoCircle
        .kibanaWelcomeLogo
    h2.kibanaWelcomeTitle
      | #{i18n('common.ui.legacyBrowserTitle', { defaultMessage: 'Please upgrade your browser' })}
    .kibanaWelcomeText
      | #{i18n('common.ui.legacyBrowserMessage', { defaultMessage: 'This Kibana installation has strict security requirements enabled that your current browser does not meet.' })}

  script.
    // Since this script tag does not contain a nonce, this code will not run
    // in browsers that support content security policy(CSP). This is
    // intentional as we check for the existence of __kbnCspNotEnforced__ in
    // bootstrap.
    window.__kbnCspNotEnforced__ = true;
  script(src=bootstrapScriptUrl, nonce=nonce)
